body{
    text-align: center;
    background-image: url('hero.jpg');
  font-family: sans-serif;
  font-weight: 100;
}

#all{
margin-top: 15%;
}

h1{
  color: #bfbbba;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
    text-shadow: 2px 2px  30px #000000 ;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;


}


#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;

}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;

}
 .sq{


    opacity: 0.5;
 }
.smalltext{
    padding-top: 5px;
    font-size: 16px;
}
#myNumber{
  margin-top: 2%;
}
.button {
    background-color: #00816A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#button{
  margin-top: 2%
}
